<div id="<%= dom_id guitar %>">
  <p>
    <strong>Model:</strong>
    <%= guitar.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= guitar.year %>
  </p>

  <p>
    <strong>Is available:</strong>
    <%= guitar.is_available %>
  </p>

</div>
